.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.container:hover {
  transform: scale(1.1);
}

.label {
  font-size: 1.25rem;
}

.icon {
  animation: spin 2.5s linear infinite;
  transition: transform 0.3s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

