.container {
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding: 1rem 0;
}

.indicator {
  animation: blink 1s infinite;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #1db954;
  position: absolute;
  left: 1rem;
  top: 41px;
}

.sentence {
  font-size: 1.5rem;
  padding: 0 1rem;
  font-style: italic;
  color: #d4d2d2;
  text-align: start;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid #999898;
  background: transparent;
  font-size: 1.5rem;
  font-style: italic;
  color: #4b5563;
  outline: none;
  border-radius: 0.375rem;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

